apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generatorOptions:
  disableNameSuffixHash: true

resources:
  - service.yaml
  - deployment.yaml
  - ingress-route.yaml
  - middleware.yaml



